:root {
  font-family: sans-serif;
}

ul {
  padding: 0;
}

li {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  list-style: none;
}

li.completed span {
  text-decoration: line-through;
}

li button {
  background: none;
  border: none;
  cursor: pointer;
}

li button:hover {
  background: #f0f0f0;
}
